h2, h4, p{
    text-align: center;
}
ul{
    margin-top: 10px;
}

/*acceuil*/
.input-group-lg{
    width: 100%;
}
.catName{
    margin-left: 1%;
}
.container{
    padding:10px;
}

.footer{
    background-color: #F5F5F5;
    margin-top: 2%
}
#formMovie{
	background-color: red;
}